*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: lavender;
  color: rgb(26, 26, 89);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* parent child selector  */
.hello > h1 {
  color: red;
}

/* general sibling selector */
.hello li ~ li {
  color: green;
}

/* simple attribute value */
[title] {
  background-color: green;
}

/* exact attribute vlaue */
[title="hello-title"] {
  background-color: rgb(144, 255, 144);
}

/* partial match / substring*/
[title*="o"] {
  color: white;
}

/* beginning substring: ^= */
/* ending substring: $= */

[blabla] {
  color: white;
}
